<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    nav {
      display: flex;
      gap: 1rem;
    }
  </style>
</head>
<body>
  <div>
    <h1>Welcome to the index page.</h1>
    <h3>Sorry this page does not exist.</h3>
  </div>

  <nav>
    <a href="/">Index Page</a>
    <a href="/about">About Page</a>
    <a href="/contact-me">Contact Page</a>
  </nav>
</body>
</html>